.floatings-labels {

              margin-bottom: 20px;
              margin-top: 10px;
            }

            .floatings-input,
            .floatings-select {
              font-size: 17px;
              padding: 4px 4px;
              display: block;
              width: 100%;
              height: 30px;
              background-color: transparent;
              border: none;
              border-bottom: 1px solid lightgray;
            }

            .floatings-input:focus,
            .floatings-select:focus {
              outline: none;
              border-bottom: 3px solid blue;
            }

            labels {
              color: #00008B;
              font-size: 14px;
              font-weight: 700;
              position: absolute;
              pointer-events: none;
              left: 5px;
              top: 5px;
              transition: 0.2s ease all;
              -moz-transition: 0.2s ease all;
              -webkit-transition: 0.2s ease all;
              text-transform: camelcase;
              letter-spacing: 0.05em;
            }

            .floatings-select:focus~labels,
            .floatings-select:not([value=""]):valid~labels {
              top: -18px;
              font-size: 14px;
              color: #00008B;
            }

            @media (min-width: 768px) {

              .navbar {
                border-radius: 0px;
              }
            }

            .navbar-brand {
              float: left;
              height: auto;
              padding: 15px 15px;
              font-size: 18px;
              line-height: 20px;
            }

            .sidebar-toggle {
              color: #fff;
              font-size: 28px;
              display: inline-block;
              padding: 3px 22px;
            }

            @media (min-width:768px) {
              .container-1 {
                width: 15%;
                float: left;
              }
              .container-2 {
                width: 100%;
                float: left;
              }
            }

            @media (max-width:768px) {
              .container-1 {
                width: 100%;
              }
              .container-2 {
                width: 100%;
              }
            }

            .container-1:after,
            .container-2:before,
              {
              display: table;
              content: " ";
            }

            .container-1:after,
            .container-2:after,
              {
              clear: both;
            }

            .container-1 {
              display: none;
            }

            /*navbar-right=====START==========*/

            .sidebar-toggle:hover,
            .sidebar-toggle:focus {
              color: #fff;
              text-decoration: underline;
            }

            .close-btn .fa-window-close {
              color: #fff;
              font-size: 25px;
            }

            .welcome {
              margin: 0;
              font-style: italic;
              color: #9aa4af;
            }

            .name {
              margin: 0;
              font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
              font-size: 20px;
              font-weight: 300;
              color: #ccd1d7;
            }

            .side-user a {
              color: #fff;
            }

            .nav-search {
              border-top: 1px solid #54677a;
            }

            .nav-search .form-control {
              border: 1px solid #000;
              border-radius: 0px;
            }

            .nav-search .btn {
              border: 1px solid #000;
              border-radius: 0px;
            }

            .dashboard>a {
              color: #fff;
            }

            .side-nav li {
              border-top: 1px solid #54677a;
              border-bottom: 1px solid #142638;
            }

            .side-nav>li>a:active {
              text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
              outline: none;
              color: #fff;
              background-color: #34495e;
            }

            .panel {
              margin-bottom: 0;

              border-radius: 0;
              background-color: transparent;
              box-shadow: none;
            }

            .panel>a {
              position: relative;
              display: block;
              padding: 10px 15px;
              color: #fff;
            }

            .panel>ul>li>a {
              position: relative;
              display: block;
              padding: 10px 15px;
              color: darkcyan;
              background: black;
            }

            .nav>li>a:hover,
            .nav>li>a:focus {
              text-decoration: none;
              background-color: #3d566e;
            }

            @media (min-width: 768px) {
              #page-wrapper {

                padding: 0 30px;
                /*min-height: 1000px;*/
                border-left: 1px solid #2c3e50;
              }
            }

            #page-wrapper {
              padding: 0 15px;
              border: none;
            }

            .date-picker {
              border-color: #138871;
              color: #fff;
              background-color: #149077;
              margin-top: -7px;
              border-radius: 0px;
              margin-right: -15px;
            }

            #page-wrapper .breadcrumb {
              padding: 8px 15px;
              margin-bottom: 20px;
              list-style: none;
              background-color: #e0e7e8;
              border-radius: 0px;
            }

            @media (min-width: 768px) {
              .circle-tile {
                margin-bottom: 30px;
              }
            }

            .circle-tile {
              margin-bottom: 15px;
              text-align: center;
            }

            .circle-tile-heading {
              position: relative;
              width: 80px;
              height: 80px;
              margin: 0 auto -40px;
              border: 3px solid rgba(255, 255, 255, 0.3);
              border-radius: 100%;
              color: #fff;
              transition: all ease-in-out .3s;
            }

            .circle-tile-heading .fa {
              line-height: 80px;
            }

            .circle-tile-content {
              padding-top: 50px;
            }

            .circle-tile-description {
              text-transform: uppercase;
            }

            .circle-tile-number {
              padding: 5px 0 15px;
              font-size: 26px;
              font-weight: 700;
              line-height: 1;
            }

            .circle-tile-footer {
              display: block;
              padding: 5px;
              color: #000;
              /*background-color: rgba(0,0,0,0.1);*/
              transition: all ease-in-out .3s;
            }

            .circle-tile-footer:hover {
              text-decoration: none;
              color: rgba(255, 255, 255, 0.5);
              background-color: rgba(0, 0, 0, 0.2);
            }

            .time-widget {
              margin-top: 5px;
              overflow: hidden;
              text-align: center;
              font-size: 1.75em;
            }

            .fa {
              font-size: 33px;
            }
          
