
<nav class="navbar navbar-inverse mynav navbar-fixed-top" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="login"><span style="color: rgb(0, 147, 221)!important;">Advance File Transfer System</span></a> </div>
    <div class="collapse navbar-collapse" id="myNavbar">
       
        
    </div>
  </div>
</nav>
<div align="center" class="col-md-12 col-sm-12" style="margin-top: 160px!important;">
<div class="col-md-4 col-sm-4"></div>
<div align="center" class="col-md-3 col-sm-3">
<span class="glyphicon glyphicon-user" style="border-radius: 50px;border: 2px solid rgb(163, 164, 165);font-size: 40px;padding: 10px;margin-bottom: 30px;margin-top: -30px;color: rgb(163, 164, 165)!important;"></span>
	<div class="col-md-12 col-sm-12">
		<p align="left">Email:</p>
		<input type="email" name="title" class="w3-input  input-sm" style="background-color: rgb(244, 246, 248)!important;" 
		ng-model="userName" ng-required="true" placeholder="Your register email id " ng-change="onSelectUserName()">
	</div>
	<div class="col-md-12 col-sm-12">
		<p align="left">Password:</p>
		<input type="password" name="title" class="w3-input input-sm " style="background-color: rgb(244, 246, 248)!important;margin-top: 10px;"  ng-model="password" ng-required="true" placeholder="password">
	</div>
	<div class="col-md-12 col-sm-12">
		<p align="left">Re - password</p>
		<input type="password" name="title" class="w3-input input-sm " style="background-color: rgb(244, 246, 248)!important;"  ng-model="rePassword" ng-required="true" placeholder="Re-enter password" 
		ng-change="passwowdValidation()">
	</div>
	<div class="form-group col-md-12 col-sm-12" style="margin-top: 10px;">
	<span style="color: red;">{{passwordValidationError}}<br>{{existingUserOrNotCheck}}<br>{{userNameError}}</span>
	<img src="icon/postLoader.gif" ng-show="fetchUserData" style="padding-left: 10px;">
           <!-- <p class="pull-right" ng-click="submit()" ng-show="signupButton"> <span > <a href="" style="font-size: 12px;">Update New Password<img src="icon/postLoader.gif" ng-show="whiznextLoader" style="padding-left: 10px;"></a></span></p> -->
          <p class="pull-right" ng-click="goBackToLoginPage()" ng-show="goBackToLogin"> <span > <a href="" style="font-size: 12px;">Sign up</a></span></p>
          </div>
          </div>
</div>
<div class="col-md-4 col-sm-4"></div>
 </div>
