<!-- <nav class="navbar navbar-inverse mynav navbar-fixed-top" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="login"><span style="color: rgb(0, 147, 221)!important;">Advance File Transfer System</span></a> </div>
    <div class="collapse navbar-collapse" id="myNavbar">
       
        
    </div>
  </div>
</nav> -->
<!-- <div align="center" class="col-md-12 col-sm-12" style="margin-top: 160px!important;">
		<div class="col-md-4 col-sm-4"></div>
		<div align="center" class="col-md-3 col-sm-3">
			<span class="glyphicon glyphicon-user"
				style="border-radius: 50px;border: 2px solid rgb(163, 164, 165);font-size: 40px;padding: 10px;margin-bottom: 30px;margin-top: -30px;color: rgb(163, 164, 165)!important;"></span>
			<div class="col-md-12 col-sm-12">
				<p align="left">Email:</p>
				<input type="email" name="title" class="w3-input  input-sm"
					style="background-color: rgb(244, 246, 248)!important;" ng-model="userName" ng-required="true"
					placeholder="Your register email id " ng-change="onSelectUserName()">
			</div>
			<div class="col-md-12 col-sm-12">
				<p align="left">Password:</p>
				<input type="password" name="title" class="w3-input input-sm "
					style="background-color: rgb(244, 246, 248)!important;margin-top: 10px;" ng-model="password" ng-required="true"
					placeholder="password">
			</div>
			<div class="col-md-12 col-sm-12">
				<p align="left">Re - password</p>
				<input type="password" name="title" class="w3-input input-sm "
					style="background-color: rgb(244, 246, 248)!important;" ng-model="rePassword" ng-required="true"
					placeholder="Re-enter password" ng-change="passwowdValidation()">
			</div>
			<div class="form-group col-md-12 col-sm-12" style="margin-top: 10px;">
				<span style="color: red;">{{passwordValidationError}}<br>{{existingUserOrNotCheck}}<br>{{userNameError}}</span>
				<img src="icon/postLoader.gif" ng-show="fetchUserData" style="padding-left: 10px;"> -->
				<!-- <p class="pull-right" ng-click="submit()" ng-show="signupButton"> <span > <a href="" style="font-size: 12px;">Update New Password<img src="icon/postLoader.gif" ng-show="whiznextLoader" style="padding-left: 10px;"></a></span></p> -->
				<!-- <p class="pull-right" ng-click="goBackToLoginPage()" ng-show="goBackToLogin"> <span> <a href=""
							style="font-size: 12px;">Sign up</a></span></p>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-4"></div>
	</div> -->
<section id="intro">
	<div class="intro-container">
		<div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">

			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<div class="carousel-background"><img src="images/img/intro/1.jpg" alt=""></div>
					<div class="carousel-container">
						<div class="row" style="width: 100%;">
							<div class="col-md-4"></div>
							<div class="col-md-4">
								<div class="form">
									<div class="haed">
										<h1>Reset Password</h1>
										<div style="margin-top: 30px;">
											<i class="fa fa-user-o" aria-hidden="true"></i>
										</div>
									</div>
									<form autocomplete="off">
										<div class="col-md-12">
											<div class="field">
												<input type="email" name="email" id="email1" ng-model="userName" ng-required="true" ng-change="onSelectUserName()">
												<label for="email1">Register Email</label>
											</div>
											<div class="field">
												<input type="password" name="password" id="password1" ng-model="password" ng-required="true">
												<label for="password1">Password</label>
											</div>
											<div class="field">
													<input type="password" name="Repassword" id="Repassword1" ng-model="rePassword" ng-required="true" ng-change="passwowdValidation()">
												<label for="Repassword1">Re - password</label>
											</div>
										</div>
										<div class="row" style="margin: 30px;">
											<button type="submit" value="submit" ng-click="goBackToLoginPage()" class="button1 pull-left" style="margin-top: -5px;">
												Back<img src="./icon/postLoader.gif" ng:show="loader">
											</button>
											<button type="submit" value="submit" ng-click="submit()" class="button1 pull-right" style="margin-top: -5px;">
												Submit<img src="./icon/postLoader.gif" ng:show="loader">
											</button>

										</div>
										<!-- <p style="text-align: left;" class="forgot" ><a href="signUp">Not a existing user</a></p> -->

									</form>

								</div>
							</div>
							<div class="col-md-4"></div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>