<div ng-controller='NavController'>
  <div ng-include='template.navmenu'></div>
</div>


<section id="intro" style="background-image:url('images/img/intro/1.jpg')">


<div  >
    
        <span style="color: red">{{message}}</span>
      
 <div class="col-md-12 col-sm-12" ng:show="dataTable" style="padding-top: 30px">
    <div class="table-responsive">
      <table class="table table-bordered ">
        <thead class="th">
          <tr>
            <td>S.No</td>
            <td>Name</td>
            <td>E-Mail</td>
            <td>M.Number</td>
            <td>Status</td>
            <td>Delete</td>
          </tr>
        </thead>
        <tbody class="tb">
          <tr ng:repeat="x in unActivedData track by $index">
            <td>{{$index+1}}</td>
            <td>{{x.name}}</td>
            <td>{{x.email}}</td>
            <td>{{x.mobileNumber}}</td>
            <td>
              <span ng-if="x.state !== 'inActive' ">
                <button type="button" style="background: transparent !important" class="btn btn-primary activeButton" style="background: #4394d3;" ng:click="activateOrDiactivate(x,$index)"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
              </span>
              <span ng-if="x.state === 'inActive' ">
                <button type="button" style="background: transparent !important;color: white" class="btn btn-default deactiveButton" style="background: #ef402f;" ng:click="activateOrDiactivate(x,$index)"><i class="fa fa-user-times" aria-hidden="true"></i></button>
              </span>
            </td>
            <td>
            <button class="glyphicon glyphicon-trash" style="background: transparent !important;color: red" ng-click="delete(x,$index)"></button>
            </td>
            <!-- <td>
              <button class="glyphicon glyphicon-pencil" type="button" ng:click="activate(x,$index)"></button>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div ng-controller='NavController' class="footernotsite">
    <div ng-include='template.footer'></div>
  </div>
</section>