<div ng-controller='NavController'>
  <div ng-include='template.navmenu'></div>
</div>


<br>
<br>


<center>
    
  <div class="input-group date">
    <p>Date: &nbsp; <b>{{message}}</b></p>
    <div class="input-group date"> <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span>
      </span>
      <input type="date" class="form-control input-sm" ng-model="date" ng-change="uploadedData(date)" />
    </div>
  </div>
</center>


<div class="container" ng:show="afterData">
    <br>

<center>
  <div >
    <button type="button" class=" btn btn-success btn-sm" ng-click=" exportToExcel('#tableToExport')"
      style="margin-top: 16px;">
      Download Report
    </button>
  </div>

  <br> 

  <div class="col-md-11 col-sm-11">
    <div class="table-responsive">
      <table class="table table-bordered" id="tableToExport">
        <thead>
          <tr>
            <td>Upload Date</td>
            <td>District</td>
            <td>Subject</td>
            <td>Message</td>
            <td>File Name</td>
            <td>Name</td>
            <td>Profile</td>
            <td>Designation</td>
            <td>Employee ID</td>
            <td>Mobile</td>
            <td>Email</td>
            <td>Time of Received</td>
          </tr>
        </thead>
        <tbody>
          <tr ng:repeat="x in upload | orderBy:'timestamp' track by $index">
            <td>{{x.date | numberToDate}}</td>
            <td>{{x.district}}</td>
            <td>{{x.subject}}</td>
            <td>{{x.message}}</td>
            <td>{{x.uploadFile.filename}}
            <td>{{x.name}}</td>
            <td>{{x.profile}}</td>
            <td>{{x.designation}}</td>
            <td>{{x.empID}}</td>
            <td>{{x.mobileNumber}}</td>
            <td>{{x.email}}</td>
            <td>{{x.timestamp}}</td>
            <!-- <td>
              <button class="glyphicon glyphicon-pencil" type="button" ng:click="activate(x,$index)"></button>
            </td> -->
          </tr>
        </tbody>
      </table>
    </center>
    </div>
  </div>
</div>
