<div ng-controller='NavController'>
  <div ng-include='template.navmenu'></div>
</div>

<section id="intro" style="background-image:url('images/img/intro/3.jpg')">
  <div  align="center">
    <div class="input-group date" style="padding-top: 20px;margin-left: -60px;">
        <div class="input-group date" ng-show="printButton"> <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span>
          </span>
          <input type="date" class="form-control input-sm" ng-model="date" ng-change="uploadedData(date)" />
        
        </div>
        <span ng-show="printButton">

          <button type="button" class=" button1 btn-lg" ng-click=" exportToExcel('#tableToExport')"
          style="margin-top: -50px;margin-left: 270px;">
          <span class="glyphicon glyphicon-download-alt"></span>
        </button>
        <button type="button" class=" button1 btn-lg" ng-click="print('printSectionId')" style="margin-top: -50px;">
        <span class="glyphicon glyphicon-print"></span>
      </button>
        
        </span>
      </div>
  </div>


<div  ng:show="afterData" style="margin-top: 10px" id="printSectionId">

  <div class="col-md-12" style="margin-top: 15px;">
    <div class="table-responsive">
      <table class="table table-bordered" id="tableToExport">
        <thead class="th">
          <tr>
            <td>S.NO</td>
            <td>Date</td>
            <td>District</td>
            <td>Subject</td>
            <td>Message</td>
            <td align="center">File Name</td>
            <td>Name</td>
            <td>Profile</td>
            <td>Designation</td>
            <td>Emp ID</td>
            <td>Mobile</td>
            <td>Email</td>
            <td>Time Stamp</td>
          </tr>
        </thead>
        <tbody class="tb">
          <tr ng:repeat="x in upload | orderBy:'timestamp' track by $index">
            <td>{{$index + 1}}</td>
            <td>{{x.date | numberToDate}}</td>
            <td>{{x.district}}</td>
            <td>{{x.subject}}</td>
            <td>{{x.message}}</td>
            <td><div class="popover-wrapper" style="font-size: 12px!important;" ng:repeat="y in x.uploadFile">{{y.filename}},</div></td>
            <td>{{x.name}}</td>
            <td>{{x.profile}}</td>
            <td>{{x.designation}}</td>
            <td>{{x.empID}}</td>
            <td>{{x.mobileNumber}}</td>
            <td>{{x.email}}</td>
            <td>{{x.timestamp}}</td>
            <!-- <td>
              <button class="glyphicon glyphicon-pencil" type="button" ng:click="activate(x,$index)"></button>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div ng-controller='NavController' class="footernotsite" ng-show="printButton">
    <div ng-include='template.footer'></div>
  </div>
</section>


