<section id="intro" style="background-image:url('images/img/intro/3.jpg')">

    <div class="row" style="width: 100%;">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="form signup">
            <h1 style="color:#4394d3;margin: 0px">Registration Form</h1>
            <!-- <form > -->
            <form style="padding: 10px;">
              <div class="field">
                <input type="text" name="userName" id="userName" placeholder="" ng-model="userName"
                  ng:change="onchange()">
                <label for="userName">Username <span style="color:red">{{nameError}}</span></label>
              </div>

              <div class="field">
                <input type="text" name="fullname" id="fullname" ng-model="fullName" placeholder=""
                  ng:change="onchange()">
                <label for="fullname">Full Name <span style="color:red">{{fullNameError}}</span></label>
              </div>

              <div class="field">
                <input type="password" name="password" id="password" ng-model="password" placeholder=""
                  ng:change="onchange()">
                <label for="password">Password<span style="color:red">{{passwordError}}</span></label>
              </div>
              <div class="field">
                <select type="text" class="floatings-select" onclick="this.setAttribute('value', this.value);" value=""
                  ng-model="profile" style="margin-top: 0px;" placeholder=".">
                  <!-- <option value="" style="color: rgba(219,213,213,1.00)!important;">Select Sector</option> -->
                  <option value="reporters">Reporters</option>
                  <option value="stingers">Stingers</option>
                  <option value="editors">Editors</option>
                  <option value="guests">Guests</option>
                  <option value="web">WEB</option>
                  <option value="It">IT</option>
                  <option value="desk">Desk</option>
                  <option vlaue="coordination">Coordination</option>

                </select>
                <span class="highlight"></span>
                <labels for="select1" style="text-align: left;padding-left: 0px;font-weight: 700">Profile Category
                </labels>
              </div>
              <div class="field">
                <select type="text" class="floatings-select" onclick="this.setAttribute('value', this.value);" value=""
                  ng-model="district" style="margin-top: 0px;" placeholder=".">
                  <!-- <option value="" style="color: rgba(219,213,213,1.00)!important;">Select Sector</option> -->
                  <option>---Andhra Pradesh----</option>
                  <option value="krishna">Krishna</option>
                  <option value="westGodavari">West Godavari</option>
                  <option value="anantapur">Anantapur</option>
                  <option value="chittoor">Chittoor</option>
                  <option value="eastGodavari">East Godavari</option>
                  <option value="guntur">Guntur</option>
                  <option value="kadapa">Kadapa</option>
                  <option value="kurnool">Kurnool</option>
                  <option value="nellore">Nellore</option>
                  <option value="prakasam">Prakasam</option>
                  <option value="srikakulam">Srikakulam</option>
                  <option value="visakhapatnam">Visakhapatnam</option>
                  <option value="vizianagaram">Vizianagaram</option>
                  <option>---Telangana---</option>
                  <option value="Adilabad">Adilabad</option>
                  <option value="Asifabad">Asifabad</option>
                  <option value="Bhadradri">Bhadradri</option>
                  <option value="Hyderabad">Hyderabad</option>
                  <option value="Jagtial">Jagtial</option>
                  <option value="Jangaon">Jangaon</option>
                  <option value="Jayashankar">Jayashankar</option>
                  <option value="Jogulamba">Jogulamba</option>
                  <option value="Kamareddy">Kamareddy</option>
                  <option value="Karimnagar">Karimnagar</option>
                  <option value="Khammam">Khammam</option>
                  <option value="Mahabubabad">Mahabubabad</option>
                  <option value="Mahbubnagar">Mahbubnagar</option>
                  <option value="Mancherial">Mancherial</option>
                  <option value="Medak">Medak</option>
                  <option value="medchalMalkajgiri">Medchal–Malkajgiri</option>
                  <option value="Nagarkurnool">Nagarkurnool</option>
                  <option value="Nalgonda">Nalgonda</option>
                  <option value="Nirmal">Nirmal</option>
                  <option value="Nizamabad">Nizamabad</option>
                  <option value="Peddapalli">Peddapalli</option>
                  <option value="rajannaSircilla">Rajanna Sircilla</option>
                  <option value="rangaReddy">Ranga Reddy</option>
                  <option value="Sangareddy">Sangareddy</option>
                  <option value="Siddipet">Siddipet</option>
                  <option value="Suryapet">Suryapet</option>
                  <option value="Vikarabad">Vikarabad</option>
                  <option value="Wanaparthy">Wanaparthy</option>
                  <option value="warangalRural">Warangal (rural)</option>
                  <option value="warangalUrban">Warangal (urban)</option>
                  <option value="Yadadri">Yadadri</option>
                  <option>----Other---</option>


                </select>
                <span class="highlight"></span>
                <labels for="select1" style="text-align: left;padding-left: 0px;font-weight: 700">District Category
                </labels>
              </div>
              <div class="field">
                <input type="text" name="designation" id="designation" ng-model="designation" placeholder=""
                  ng:change="onchange()">
                <label for="designation">Designation<span style="color:red">{{companyNameError}}</span></label>
              </div>

              <div class="field">
                <input type="text" name="empID" id="empID" ng-model="empID" placeholder="" ng:change="onchange()">
                <label for="empID">Emp ID<span style="color:red">{{companyNameError}}</span></label>
              </div>

              <div class="field">
                <input type="text" name="Mobile" id="Mobile" ng-model="mobileNumber" placeholder=""
                  ng:change="onchange()">
                <label for="Mobile">Mobile <span style="color:red">{{nobileNumberError}}</span></label>
              </div>

              <div class="field">
                <input type="email" name="email" id="email" ng-model="email" autocomplete="off" ng:change="onchange()">
                <label for="email">Email<span style="color:red">{{emailError}}</span></label>
              </div>



              <span style="color: red;">{{existingUserOrNotCheck}}</span>
              <div style="margin-bottom: 15px;margin-top: 5px;">
              <button type="submit" ng-click="submit()" class="button1 pull-right">Submit &nbsp;<img
                  src="/icon/postLoader.gif" ng:show="loadder"></button>

              <button class="button1 pull-left"><a href="login" style="color: white !important">Existing
                  user</a></button>
                </div>
              <!-- </form> -->

              {{successMessage}}
            </form>
 
        </div>
      </div>
      <div class="col-md-3"></div>
      <div ng-controller='NavController' class="footernotsite">
        <div ng-include='template.footer'></div>
      </div>

</section>