<section id="intro" style="background-image:url('images/img/intro/3.jpg')">

  <div class="row" style="width: 100%;">
    <div class="col-md-3"></div>
    <div class="col-md-6">

        <div class="form signup">
            <h1 style="color:#4394d3;margin: 0px;margin-top: 5px">Registration Form</h1>
      <!-- <form > -->
      <form style="padding: 10px;">
        <div class="field">
          <input type="text" name="userName" id="userName" placeholder=" " ng-model="userName" ng:change="onchange()"
            required>
          <label for="userName">Username 
            <!-- <span style="color:red">{{nameError}}</span>-->
            </label> 
        </div>

        <div class="field">
          <input type="text" name="fullname" id="fullname" ng-model="fullName" placeholder=" " ng:change="onchange()"
            required>
          <label for="fullname">Full Name 
            <!-- <span style="color:red">{{fullNameError}}</span> -->
          </label>
        </div>

        <div class="field">
          <input type="password" name="password" id="password" ng-model="password" placeholder=" "
            ng:change="onchange()" required>
          <label for="password">Password
            <!-- <span style="color:red">{{passwordError}}</span> -->
          </label>
        </div>
        <div class="field">
          <select type="text" class="floatings-select" onclick="this.setAttribute('value', this.value);" value=""
            ng-model="profile" style="margin-top: 0px;" placeholder="." required>
            <!-- <option value="" style="color: rgba(219,213,213,1.00)!important;">Select Sector</option> -->
            <option value=""> ----Select Your Profile ----</option>
           <option value="reporters">Reporter</option>
            <option value="stingers">Stinger</option>
            <option value="scheduling">Scheduling</option>
            <option value="editors">Editor</option>
            <option value="guests">Guest</option>
            <option value="web">Web</option>
            <option value="It">It</option>
            <option value="desk">Desk</option>
            <option vlaue="coordination">Coordination</option>

          </select>
          <span class="highlight"></span>
          <labels for="select1" style="text-align: left;padding-left: 0px;font-weight: 700">Profile Category</labels>
        </div>
        <div class="field">
          <select type="text" class="floatings-select" onclick="this.setAttribute('value', this.value);" value=""
            ng-model="districtLi" style="margin-top: 0px;"  ng:click="onSelectDistrict() " placeholder="." required>
            <option value=""> ----Select Your District ----</option>
            <!-- <option value="" style="color: rgba(219,213,213,1.00)!important;">Select Sector</option> -->
            <option value="apT">---Andhra Pradesh----</option>
            <option value="tsT">---Telangana---</option>
            <option value="otherT">----Other---</option>

          </select>
          <span class="highlight"></span>
          <labels for="select1" style="text-align: left;padding-left: 0px;font-weight: 700">District Category</labels>
        </div>

        <div class="field" ng:show= "districtList">
          <select type="text" class="floatings-select" onclick="this.setAttribute('value', this.value);" value=""
            ng-model="district" style="margin-top: 0px;" placeholder="." required>
            <option value=""> ----Select Your District List ----</option>
            <!-- <option value="" style="color: rgba(219,213,213,1.00)!important;">Select Sector</option> -->
           
            <option value="krishna" ng:show="ap">Krishna</option>
            <option value="westGodavari" ng:show="ap">West Godavari</option>
            <option value="anantapur" ng:show="ap">Anantapur</option>
            <option value="chittoor" ng:show="ap">Chittoor</option>
            <option value="eastGodavari" ng:show="ap">East Godavari</option>
            <option value="guntur" ng:show="ap">Guntur</option>
            <option value="kadapa" ng:show="ap">Kadapa</option>
            <option value="kurnool" ng:show="ap">Kurnool</option>
            <option value="nellore" ng:show="ap">Nellore</option>
            <option value="prakasam" ng:show="ap">Prakasam</option>
            <option value="srikakulam" ng:show="ap">Srikakulam</option>
            <option value="visakhapatnam" ng:show="ap">Visakhapatnam</option>
            <option value="vizianagaram" ng:show="ap">Vizianagaram</option>
            
            <option value="Adilabad" ng:show="ts">Adilabad</option>
            <option value="Asifabad" ng:show="ts">Asifabad</option>
            <option value="Bhadradri" ng:show="ts">Bhadradri</option>
            <option value="Hyderabad" ng:show="ts">Hyderabad</option>
            <option value="Jagtial" ng:show="ts">Jagtial</option>
            <option value="Jangaon" ng:show="ts">Jangaon</option>
            <option value="Jayashankar" ng:show="ts">Jayashankar</option>
            <option value="Jogulamba" ng:show="ts">Jogulamba</option>
            <option value="Kamareddy" ng:show="ts">Kamareddy</option>
            <option value="Karimnagar" ng:show="ts">Karimnagar</option>
            <option value="Khammam" ng:show="ts">Khammam</option>
            <option value="Mahabubabad" ng:show="ts">Mahabubabad</option>
            <option value="Mahbubnagar" ng:show="ts">Mahbubnagar</option>
            <option value="Mancherial" ng:show="ts">Mancherial</option>
            <option value="Medak" ng:show="ts">Medak</option>
            <option value="medchalMalkajgiri" ng:show="ts">Medchal–Malkajgiri</option>
            <option value="Nagarkurnool" ng:show="ts">Nagarkurnool</option>
            <option value="Nalgonda" ng:show="ts">Nalgonda</option>
            <option value="Nirmal" ng:show="ts">Nirmal</option>
            <option value="Nizamabad" ng:show="ts">Nizamabad</option>
            <option value="Peddapalli" ng:show="ts">Peddapalli</option>
            <option value="rajannaSircilla" ng:show="ts">Rajanna Sircilla</option>
            <option value="rangaReddy" ng:show="ts">Ranga Reddy</option>
            <option value="Sangareddy" ng:show="ts">Sangareddy</option>
            <option value="Siddipet" ng:show="ts">Siddipet</option>
            <option value="Suryapet" ng:show="ts">Suryapet</option>
            <option value="Vikarabad" ng:show="ts">Vikarabad</option>
            <option value="Wanaparthy" ng:show="ts">Wanaparthy</option>
            <option value="warangalRural" ng:show="ts">Warangal (rural)</option>
            <option value="warangalUrban" ng:show="ts">Warangal (urban)</option>
            <option value="Yadadri" ng:show="ts">Yadadri</option>
            <option value="other" ng:show="other">----Other---</option>
        
          </select>
          <span class="highlight"></span>
          <labels for="select1" style="text-align: left;padding-left: 0px;font-weight: 700">District Category</labels>
        </div>
        <div class="field" ng:show="other">
          <input type="text" name="districtOther" id="districtOther" ng-model="districtOther" placeholder=""
            ng:change="onchange()" required>
          <label for="designation">Other District <span style="color:red"></span></label>
        </div>

        <div class="field">
          <input type="text" name="designation" id="designation" ng-model="designation" placeholder=""
            ng:change="onchange()" required>
          <label for="designation">Designation
            <!-- <span style="color:red">{{companyNameError}}</span> -->
          </label>
        </div>

        <div class="field">
          <input type="text" name="empID" id="empID" ng-model="empID" placeholder="" ng:change="onchange()" required>
          <label for="empID">Emp ID
            <!-- <span style="color:red">{{companyNameError}}</span> -->
          </label>
        </div>

        <div class="field">
          <input type="text" name="Mobile" id="Mobile" ng-model="mobileNumber" placeholder=" " ng:change="onchange()"
            required>
          <label for="Mobile">Mobile 
            <!-- <span style="color:red">{{nobileNumberError}}</span> -->
          </label>
        </div>

        <div class="field">
          <input type="email" name="email" id="email" ng-model="email" autocomplete="off" ng:change="onchange()"
            required>
          <label for="email">Email
            <!-- <span style="color:red">{{emailError}}</span> -->
          </label>
        </div>
        <span style="color: red;">{{existingUserOrNotCheck}}</span>
        <div style="margin-bottom: 15px;margin-top: 5px;">
        <button type="submit" ng-click="submit()" class="button1 pull-right">Submit &nbsp;<img
            src="/icon/postLoader.gif" ng:show="loadder"></button>

        <button class="button1 pull-left"><a href="login" style="color: white !important">Existing user</a></button>
       </div>
        <!-- </form> -->

        {{successMessage}}
      </form>





  </div>
</div>
<div class="col-md-3"></div>
  <div ng-controller='NavController' class="footernotsite">
    <div ng-include='template.footer'></div>
  </div>
</div>
</section>
