<div ng-controller='NavController'>
    <div ng-include='template.navmenu'></div>
</div>

<!-- Content Here -->
<div class="form">
    <div class="haed">
        <h1>Advance File Transfer System</h1>
    </div>

    <div class="tab-content">


        <div id="signup">
            <form action="/upload" method="post" enctype="multipart/form-data">

                <div class="field">
                    <input type="file" name="VideoToUpload" id="VideoToUpload" placeholder=" " >
                    <label for="VideoToUpload">Select Files to upload
                        <span style="color:red">{{nameError}}</span>
                    </label>
                </div>
                <div class="field">
                        <input type="text" name="Subject" id="Subject" ng-model="Subject" placeholder=" ">
                        <label for="Subject">Subject
                            <span style="color:red">{{nameError}}</span>
                        </label>
                    </div> 
                    <div class="field">
                            <input type="text" name="Message" id="Message" ng-model="Message" placeholder=" ">
                            <label for="Message">Message
                                <span style="color:red">{{nameError}}</span>
                            </label>
                        </div>

                <span style="color: red;">{{existingUserOrNotCheck}}</span>
                <button type="submit" class="btn btn-primary" value="Upload" name="submit">
                    <b>Upload &nbsp;
                        <img src="/icon/postLoader.gif" ng:show="loadder">
                    </b>
                </button>

            </form>

        </div>



        <form>

        </form>

    </div>

</div>
<!-- tab-content -->

<!-- 
<div class="row">
        <div class="tab-pane fade in active">

            <div class="col-sm-6">
                <h3>
                    <center><i>Upload Your File Hassle Free</i></center>
                </h3>
                <br>
                <center>
                    <form action="/upload" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="text">Select Files to upload</label>
                            <div><input type="file" name="VideoToUpload" id="VideoToUpload"></div>
                              <br>
                            <label for="text">Subject</label>
                            <div><input type="text" name="subject" id="subject"></div>
                              <br>
                            <label for="text">Message</label>
                            <div><input type="text" name="message"></div>


                        </div>
                        <div style="display: none">
                            <input type="text" name="district" ng-model="data.district">
                            <input type="text" name="name" ng-model="data.name">
                            <input type="text" name="mobileNumber" ng-model="data.mobileNumber">
                            <input type="text" name="designation" ng-model="data.designation">
                            <input type="text" name="empID" ng-model="data.empID">
                            <input type="text" name="email" ng-model="data.email">
                            <input type="text" name="profile" ng-model="data.profile">
                        </div>

                        <input type="submit" class="btn btn-primary" value="Upload" name="submit">

                    </form>
                </center>
            </div>

        </div>
    </div>
</div> -->