<div ng-controller='NavController'>
    <div ng-include='template.navmenu'></div>
</div>

<!-- Content Here -->
<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="carousel-background"><img src="images/img/intro/2.jpg" alt=""></div>
                    <div class="carousel-container">
                        <div class="row" style="width: 100%;">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="form" style="padding: 0px 25px">
                                    <div class="haed">
                                        <h1>Advanced File Transfer System</h1>
                                    </div>
                                    <form  method="post" enctype="multipart/form-data"
                                        autocomplete="off" ng:submit ="sendDataTotheBackend()">

                                        <div class="field">
                                            <!-- <input type="file" name="VideoToUpload" id="VideoToUpload" placeholder=" "
                                                multiple required> -->

                                                <input type="file" id="file" name="file" multiple
                                                onchange="angular.element(this).scope().getFileDetails(this)" />

                                            <label for="VideoToUpload">Select Files to upload
                                                <!-- <span style="color:red"></span> -->
                                            </label>
                                        </div>


                                        <div class="field">
                                            <input type="text" name="subject" id="subject" ng-model="data.subject" placeholder=" " required>
                                            <label for="subject">Subject
                                                <!-- <span style="color:red">{{nameError}}</span> -->
                                            </label>
                                        </div>
                                        <div class="field">
                                            <input type="text" name="message"  id="message" ng-model="data.message" placeholder=" " required>
                                            <label for="message">Message
                                                <!-- <span style="color:red">{{nameError}}</span> -->
                                            </label>
                                        </div>

                                        <div style="display: none">
                                            <input type="text" name="district" ng-model="data.district">
                                            <input type="text" name="name" ng-model="data.name">
                                            <input type="text" name="mobileNumber" ng-model="data.mobileNumber">
                                            <input type="text" name="designation" ng-model="data.designation">
                                            <input type="text" name="empID" ng-model="data.empID">
                                            <input type="text" name="email" ng-model="data.email">
                                            <input type="text" name="profile" ng-model="data.profile">
                                        </div>

                                        <span style="color: red;">{{existingUserOrNotCheck}}{{test}}</span>
                                        <button type="submit" class="button1" value="Upload" name="submit">
                                            &nbsp; Upload &nbsp;
                                            <img src="/icon/postLoader.gif" ng:show="loadder">

                                        </button>
                                       

                                    </form>




                                    <form>

                                    </form>



                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-controller='NavController' class="footernotsite">
        <div ng-include='template.footer'></div>
    </div>
</section>

<!-- tab-content -->

<!-- 
<div class="row">
        <div class="tab-pane fade in active">

            <div class="col-sm-6">
                <h3>
                    <center><i>Upload Your File Hassle Free</i></center>
                </h3>
                <br>
                <center>
                    <form action="/upload" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="text">Select Files to upload</label>
                            <div><input type="file" name="VideoToUpload" id="VideoToUpload"></div>
                              <br>
                            <label for="text">Subject</label>
                            <div><input type="text" name="subject" id="subject"></div>
                              <br>
                            <label for="text">Message</label>
                            <div><input type="text" name="message"></div>


                        </div>
                        <div style="display: none">
                            <input type="text" name="district" ng-model="data.district">
                            <input type="text" name="name" ng-model="data.name">
                            <input type="text" name="mobileNumber" ng-model="data.mobileNumber">
                            <input type="text" name="designation" ng-model="data.designation">
                            <input type="text" name="empID" ng-model="data.empID">
                            <input type="text" name="email" ng-model="data.email">
                            <input type="text" name="profile" ng-model="data.profile">
                        </div>

                        <input type="submit" class="btn btn-primary" value="Upload" name="submit">

                    </form>
                </center>
            </div>

        </div>
    </div>
</div> -->