<div ng-controller='NavController'>
  <div ng-include='template.navmenu'></div>
</div>
  <form action="/upload" method="post" style="background-color: grey" enctype="multipart/form-data">
    <p>Select Files to upload:</p>
    <input type="file" name="VideoToUpload" id="VideoToUpload">
    <p>Subject</p>
    <input type="text" name="subject" id="subject">
    <p>Message</p>
    <input type="text" name="message">
    <div style="display: none">
    <input type="text" name="district" ng-model="data.district">
    <input type="text" name="name" ng-model="data.name">
    <input type="text" name="mobileNumber" ng-model="data.mobileNumber">
    <input type="text" name="designation" ng-model="data.designation">
    <input type="text" name="empID" ng-model="data.empID">
    <input type="text" name="email" ng-model="data.email">
    <input type="text" name="profile" ng-model="data.profile">
</div>
    <input type="submit" value="Upload" name="submit">

</form>
